@model TodoList.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h2>Tâches à accomplir</h2>
    <table>
        @{
            foreach (var tache in Model.NotCompletedTasks)
            {
                <tr>
                    <td>
                        <label class="ckeckbox-container">
                            <input type="checkbox" id="check_@tache.Id" onclick="window.location.href = '/Home/ValidTask/@tache.Id';" />
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    <td>@tache.User</td>
                    <td>@tache.Description</td>
                    <td>Soumise le @tache.CreationDate</td>
                    <td>@Html.ActionLink("Editer", "PostEditTask", new { id = tache.Id })</td>
                    <td>@Html.ActionLink("Archiver", "PostArchiveTask", new { id = tache.Id })</td>
                    <td>@Html.ActionLink("Supprimer", "PostDeleteTask", new { id = tache.Id })</td>
                </tr>
            }
        }
    </table>
</div>

<div class="row">
    <h2>Tâches accomplies</h2>
    <table>
        @{
            foreach (var tache in Model.CompletedTasks)
            {
                <tr>
                    <td>
                        <label class="ckeckbox-container">
                            <input type="checkbox" id="check_@tache.Id" onclick="window.location.href = '/Home/ValidTask/@tache.Id';" />
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    <td>@tache.User</td>
                    <td>@tache.Description</td>
                    <td>Soumise le @tache.CreationDate</td>
                    <td>@Html.ActionLink("Editer", "PostEditTask", new { id = tache.Id })</td>
                    <td>@Html.ActionLink("Archiver", "PostArchiveTask", new { id = tache.Id })</td>
                    <td>@Html.ActionLink("Supprimer", "PostDeleteTask", new { id = tache.Id })</td>
                </tr>
            }
        }
    </table>
</div>